  Part 2 : Data Collection and Preparation Practical

In [1]:
#Import necessary libraries
import pandas as pd
import numpy as np
import os
os.getcwd()

'C:\\Users\\Acer\\Desktop\\HIA302 IndProject (Aishu)\\HIA302_IndProject'

a) Demonstrate different ways to convert the horse-colic.txt file to horsecolic.csv.

In [3]:
#1st way to convert horse-colic.txt file to horsecolic.csv which is using the text file path.
df = pd.read_csv(r"C:\Users\Acer\Desktop\HIA302 IndProject (Aishu)\HIA302_IndProject\horse-colic.txt", header = None)
df.to_csv(r"C:\Users\Acer\Desktop\HIA302 IndProject (Aishu)\HIA302_IndProject\horse-colic.csv", index = None)
print(df)

    0   1        2      3    4   5  6  7  8  9   ...     18    19 20    21 22  \
0    2   1   530101  38.50   66  28  3  3  ?  2  ...  45.00  8.40  ?     ?  2
1    1   1   534817   39.2   88  20  ?  ?  4  1  ...     50    85  2     2  3
2    2   1   530334  38.30   40  24  1  1  3  1  ...  33.00  6.70  ?     ?  1
3    1   9  5290409  39.10  164  84  4  1  6  2  ...  48.00  7.20  3  5.30  2
4    2   1   530255  37.30  104  35  ?  ?  6  2  ...  74.00  7.40  ?     ?  2
..  ..  ..      ...    ...  ...  .. .. .. .. ..  ...    ...   ... ..   ... ..
295  1   1   533886      ?  120  70  4  ?  4  2  ...     55    65  ?     ?  3
296  2   1   527702  37.20   72  24  3  2  4  2  ...  44.00     ?  3  3.30  3
297  1   1   529386  37.50   72  30  4  3  4  1  ...  60.00  6.80  ?     ?  2
298  1   1   530612  36.50  100  24  3  3  3  1  ...  50.00  6.00  3  3.40  1
299  1   1   534618   37.2   40  20  ?  ?  ?  ?  ...     36    62  1     1  3

    23     24 25 26 27
0    2  11300  0  0  2
1    2   2208  0  0  2
2    2      0  0  0  1
3    1   2208  0  0  1
4    2   4300  0  0  2
..  ..    ... .. .. ..
295  2   3205  0  0  2
296  1   2208  0  0  1
297  1   3205  0  0  2
298  1   2208  0  0  1
299  2   6112  0  0  2

[300 rows x 28 columns]

In [7]:
#2nd way to convert horse-colic.txt file to horsecolic.csv which is using the text file name.
df = pd.read_csv("horse-colic.txt", delimiter = ',', header = None)
df.to_csv("horse-colic.csv", index = None)
print(df)

    0   1        2      3    4   5  6  7  8  9   ...     18    19 20    21 22  \
0    2   1   530101  38.50   66  28  3  3  ?  2  ...  45.00  8.40  ?     ?  2
1    1   1   534817   39.2   88  20  ?  ?  4  1  ...     50    85  2     2  3
2    2   1   530334  38.30   40  24  1  1  3  1  ...  33.00  6.70  ?     ?  1
3    1   9  5290409  39.10  164  84  4  1  6  2  ...  48.00  7.20  3  5.30  2
4    2   1   530255  37.30  104  35  ?  ?  6  2  ...  74.00  7.40  ?     ?  2
..  ..  ..      ...    ...  ...  .. .. .. .. ..  ...    ...   ... ..   ... ..
295  1   1   533886      ?  120  70  4  ?  4  2  ...     55    65  ?     ?  3
296  2   1   527702  37.20   72  24  3  2  4  2  ...  44.00     ?  3  3.30  3
297  1   1   529386  37.50   72  30  4  3  4  1  ...  60.00  6.80  ?     ?  2
298  1   1   530612  36.50  100  24  3  3  3  1  ...  50.00  6.00  3  3.40  1
299  1   1   534618   37.2   40  20  ?  ?  ?  ?  ...     36    62  1     1  3

    23     24 25 26 27
0    2  11300  0  0  2
1    2   2208  0  0  2
2    2      0  0  0  1
3    1   2208  0  0  1
4    2   4300  0  0  2
..  ..    ... .. .. ..
295  2   3205  0  0  2
296  1   2208  0  0  1
297  1   3205  0  0  2
298  1   2208  0  0  1
299  2   6112  0  0  2

[300 rows x 28 columns]

b) Demonstrate that the csv file can read in Jupyter Notebook, and the dataset remains the same as the raw dataset

In [8]:
#View csv file in dataframe
df

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,1,533886,?,120,70,4,?,4,2,...,55,65,?,?,3,2,3205,0,0,2
296,2,1,527702,37.20,72,24,3,2,4,2,...,44.00,?,3,3.30,3,1,2208,0,0,1
297,1,1,529386,37.50,72,30,4,3,4,1,...,60.00,6.80,?,?,2,1,3205,0,0,2
298,1,1,530612,36.50,100,24,3,3,3,1,...,50.00,6.00,3,3.40,1,1,2208,0,0,1
299,1,1,534618,37.2,40,20,?,?,?,?,...,36,62,1,1,3,2,6112,0,0,2

In [9]:
#Can view the head of the dataset which is the first 5 rows of the dataset
df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2

In [10]:
#Can view the tail of the dataset which is the last 5 rows of the dataset
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
295,1,1,533886,?,120,70,4,?,4,2,...,55,65,?,?,3,2,3205,0,0,2
296,2,1,527702,37.20,72,24,3,2,4,2,...,44.00,?,3,3.30,3,1,2208,0,0,1
297,1,1,529386,37.50,72,30,4,3,4,1,...,60.00,6.80,?,?,2,1,3205,0,0,2
298,1,1,530612,36.50,100,24,3,3,3,1,...,50.00,6.00,3,3.40,1,1,2208,0,0,1
299,1,1,534618,37.2,40,20,?,?,?,?,...,36,62,1,1,3,2,6112,0,0,2

c) Replace the missing values (i.e. with “?”) with a NaN (Not a Number) value in a loaded dataset using Python.

In [ ]:
#Replace missing values with '?' with 'NaN'